---
# Ansible connectivity definitions
# eAPI connectivity via HTTPS is specified (as opposed to CLI via SSH)
ansible_connection: ansible.netcommon.httpapi
#ansible_connection: ansible.netcommon.network_cli
# Specifies that we are indeed using Arista EOS
ansible_network_os: arista.eos.eos
# This user/password must exist on the switches to enable Ansible access
ansible_user: ansible
ansible_password: ansible
# User escalation (to enter enable mode)
ansible_become: true
ansible_become_method: enable
ansible_httpapi_use_ssl: true
ansible_httpapi_validate_certs: false

service_routing_protocols_model: multi-agent
ip_routing: false
ipv6_routing: true

hostname: "{{ inventory_hostname }}"

management_interfaces:
  - name: Management0
    description: oob_management
    shutdown: false
    vrf: "MGMT"
    ipv6_address: "{{ ansible_host }}/24"
    type: oob

aaa_root:
  disabled: true
config_end: true
daemon_terminattr:
  cvaddrs:
  - 192.168.1.12:9910
  cvauth:
    method: token
    token_file: /tmp/token
  cvsourceintf: Management0
  cvvrf: MGMT
  disable_aaa: true
  smashexcludes: ale,flexCounter,hardware,kni,pulse,strata
enable_password:
  disabled: true

ip_domain_lookup:
  source_interfaces:
  - name: Management0
    vrf: MGMT
ip_igmp_snooping:
  globally_enabled: true

ip_name_servers:
- ip_address: 192.168.1.1
  vrf: MGMT

local_users:
- name: ansible
  privilege: 15
  role: network-admin
  sha512_password: $6$7u4j1rkb3VELgcZE$EJt2Qff8kd/TapRoci0XaIZsL4tFzgq1YZBLD9c6f/knXzvcYY0NcMKndZeCv0T268knGKhOEwZAxqKjlMm920
management_api_http:
  enable_https: true
  enable_vrfs:
  - name: MGMT
metadata:
  is_deployed: true
  platform: cEOSLab
  fabric_name: FABRIC
ntp:
  local_interface:
    name: Management0
    vrf: MGMT
  servers:
  - name: 0.pool.ntp.org
    preferred: true
    vrf: MGMT

spanning_tree:
  mode: mstp
  mst_instances:
  - id: '0'
    priority: 32768

transceiver_qsfp_default_mode_4x10: true

vlan_internal_order:
  allocation: ascending
  range:
    beginning: 1006
    ending: 1199

vlans:
- id: 11
  name: VRF10_VLAN11
  tenant: TENANT1
- id: 12
  name: VRF10_VLAN12
  tenant: TENANT1
- id: 21
  name: VRF11_VLAN21
  tenant: TENANT1
- id: 22
  name: VRF11_VLAN22
  tenant: TENANT1
- id: 31
  name: VRF12_VLAN31
  tenant: TENANT1
- id: 32
  name: VRF12_VLAN32
  tenant: TENANT1
- id: 3401
  name: L2_VLAN3401
  tenant: TENANT1
- id: 3402
  name: L2_VLAN3402
  tenant: TENANT1

vrfs:
  - name: default
    ipv6_routing: true
  - name: "MGMT"
    ipv6_routing: true
  - name: "VRF10"
    ipv6_routing: true
  - name: "VRF11"
    ipv6_routing: true
  - name: "VRF12"
    ipv6_routing: true